.togglemenu.image{
    overflow: hidden;
    height: 100%;
}

#header-top{
    display: flex;
    padding-top: 5%;

    }
    img{
        height: 75px;
    }
    .text{
        width: 50%;
        h2,h3{
            margin: 0px;
            color: $text-color;
        }
    
}
#header-nav{

    ul{
        list-style-type:none;
    }
    .list{
        text-align: center;
            a{
                color: $text-color;
            }
        
            a:hover{
                color: $text-color;
            }
        }
   
    
}
