
 <div class="cmp-togglemenu" data-cmp-is="togglemenu"
data-sly-use.mymodel="com.adobe.aem.gov.core.models.TogglemenuModel">
   
<!--    <p class="cmp-togglemenu">I links inseriti sono:${mymodel.pages @join=', '}</p>
    
    <ul data-sly-list="${mymodel.pages}">
        <li data-sly-use.root="${item}">1 padre: ${root.name} --test: ${root.properties[jcr:createBy]}
            <ul data-sly-list.child="${root.listChildren}">
                <li data-sly-test="${child.name != 'jcr:content'}">2: ${child.path} -- name: ${child.name} --test: ${child.properties.jcr:title}</li>
            
            </ul>
        </li>
    </ul>-->
   <nav class="nav-menu" id="first-nav">
        <input type="checkbox" id="menuToggle" >
        <label id="first-label" for="menuToggle"><span>&times;</span><span>&#9776;</label>
            <ul data-sly-list="${mymodel.resourcePages}" id="sub-nav">
                <div data-sly-test="${item.listChildren.hasNext}" class="box">
                    <li class="first-li label"><a class="link-page">${item.title}</a>
                        <input type="checkbox" id="subMenuToggle-${itemList.index}">
                        <label id="inner-label" for="subMenuToggle-${itemList.index}"><span class="arrow-up">&#708;</span><span id="arrow-dwn">&#709;</span></label>
                            
                        <ul data-sly-list.child="${item.listChildren}" class="content">
                            <li class="child-li"><a href="${child.path @ extension = '.html'}">${child.title}</a></li></a>
                            
                        </ul>
                    </li>
                </div>
                <sly data-sly-test="${!item.listChildren.hasNext}">
                    
                    <li><a href="${item.path @ extension = '.html'}" class="link-page">${item.title}</a></li>
                    
                </sly>
               
    
            </ul>
   </nav>
   
    
</div>

